.rank-dlt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #000000;
  width: 25%;
  min-width: 20%;
  flex-direction: column;
}

.lixo {
  width: 300%;
}
.rank-img {
  width: 10%;
}

.usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #000000;
  width: 95%;
  min-width: 90%;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #000000;
  width: 30%;
  height: 30%;
}

.usuario-pfp {
  width: 30%;
  height: 100%;
}

.rank-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #000000;
  width: 70%;
  height: 100%;
  flex-direction: column;

}

.rank-ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #000000;
  width: 100%;
  height: 100%;
}

.rank-info-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  flex-direction: row;
}

.rank-info-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  flex-direction: row;
}